RewriteEngine on

DirectoryIndex index.php?action=home

# For local installation comment next line and elimine the '/' (slash) before each url lines 9, 12, 15, 18
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)-([0-9]+)-([0-9]+)$  /index.php?action=$1&id=$2&idChapter=$3 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)-([A-Z]+)$  /index.php?action=$1&order=$2 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)-([0-9]+)$  /index.php?action=$1&id=$2 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$   /index.php?action=$1 [QSA,L]


