/* GENERAL STYLES LINE 6 (including footers)*/
/* LECTOR INTERFACE LINE 117 */
/* ADMIN INTERFACE LINE 464 */
/* MEDIA QUERIES LINE 877*/

/*-----GENERAL STYLES-----*/

*{
    padding: 0;
    margin: 0;
    font-family: 'dosis', arial;
}

header, main, footer{
    width: 100%;
}

main{
    flex: 1;
    padding-top: 20px;
    justify-content: center;
}

a:hover{
    text-decoration: none;
}

.btn.btn-primary {
    color: black !important;
    background-color: rgba(147, 202, 224, 0.8) !important;
    border: none;
}

/*Footer all pages except Homepage*/

footer{
    margin-top: 25px;
    text-align: center;
    background-color: rgba(147, 202, 224, 0.8);
    color: black;
    padding-top: 10px;
    font-size: 16px;
}

#legalMentions{
    color: black;
}

/*Homepage Footer*/

footer.homepage{
    background-color: #64605b;
    color: white;
    font-size: 16px;
    text-align: left;
    padding: 10px;
}

.divFooter{
    margin-right:-5px;
    margin-left: -5px;
}

.homepage #legalMentions{
    color: white;
    text-align: left;
}

.divAccessAdmin{
    text-align: right;
}

#accessAdmin{
    color: white !important;
    width: 100%;
}

/*Connexion and Admin Footer*/

.reservedRights{
    text-align: right;
}

/*Legal Mentions*/

.sectionLegalMentions{
    padding: 25px;
    background-color: rgba(248, 237, 237, 0.8);
    border-radius: 15px;
    font-size: 18px;
}

/*Error*/

.sectionError.front{
    padding: 25px;
    background-color: rgba(248, 237, 237, 0.8);
    border-radius: 15px;
    width: 70%;
    margin: auto;
}

.sectionError h2{
    font-size: 30px;
}

.sectionError p{
    font-size: 20px;
}

a#backHome{
    font-size: 20px;
    color: black;
    text-decoration: underline dotted;
}

/*---LECTOR INTERFACE---*/

/*---Homepage---*/

.pageHomepage{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: center;
    background-image: url("../../images/background/traineau.jpg");
    background-size: cover;
}

.sectionHomepage{
    padding-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.animate-pop-in{
    -webkit-animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
            animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
    opacity: 0;
}

h1#bigTitle{
    text-align: center;
}

#bigTitle a{      
    font-family: 'Caveat', cursive;
    font-size: 7rem;
    color: black !important;
    text-decoration: none;
    text-shadow: 2px 2px 4px white;
    width: 100%;
    -webkit-animation-delay: .8s;
            animation-delay: .8s;
}

#introWelcome{ 
    padding-left: 2%;
    color: white;
    font-family: 'Nothing You Could Do';
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-weight: bold;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}

#buttonWelcome{
    display: block;
    margin: auto;
    width: 20%;
    color: white;
    font-family: 'Caveat';
    background-color: black;
    padding: 15px;
    font-size: 1.7rem;
    border-radius: 10px;
    box-shadow: inset -3px -3px 5px #888;
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s;
}

/*Homepage Animations*/

@-webkit-keyframes pop-in{
    0% {
        opacity: 0;
        -webkit-transform: translateY(-4rem) scale(.8);
                transform: translateY(-4rem) scale(.8);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }
}

@keyframes pop-in{
    0% {
        opacity: 0;
        -webkit-transform: translateY(-4rem) scale(.8);
                transform: translateY(-4rem) scale(.8);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }
}

/*---Other frontend pages---*/

.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../../images/background/ours.jpg");
    background-size: cover;
}

/*Header*/

header{
    width: 100%;
    box-shadow: 0px 5px 8px #888888;
    background-color: rgba(147, 202, 224, 0.8);
}

#bigTitleFrontend a{
    font-family: 'Caveat', cursive;
    font-size: 4.5rem;
    color: black !important;
    text-decoration: none;
    text-shadow: 2px 2px 4px white;
    width: 100%;
}

/*---List Chapters---*/

#introWelcomeFrontend{
    color: black;
    font-family: 'Nothing You Could Do';
    font-size: 24px;
    margin-bottom: 30px;
    margin-left: 2.5%;
}

#changeOrdenChapters{
    margin-bottom: 25px;
    margin-left: 2.5%;
}

#changeOrdenChaptersForm select{
    background-color: rgba(248, 237, 237, 0.8);
    margin-right: 2.5%;
    border-radius: .5rem;
    padding: 5px;
}

#listChapters{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.panelChapter{
    width: 29%;
    display: flex;
    flex-direction: column;
    background-color: rgba(248, 237, 237, 0.8);
    box-shadow: inset -5px -5px 15px #888;
    filter: drop-shadow(5px 5px 5px black);
    border-radius: 15px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 20px;
    padding: 15px;
    text-align: justify;
}

.panelChapter h3 a{
    font-family: 'Caveat', cursive;
    color: white !important;
    text-decoration: none;
    text-shadow: 2px 2px 4px black;    
    font-size: 2.5rem;
    text-align: left;
}

.panelChapter h4{
    font-family: 'Caveat', cursive;
    font-size: 1.3rem;
    text-align: left;
}

.dates{
    text-align: left;
}

.editDates{
    font-size: 1rem;
    font-family: 'Caveat', cursive;
}

.imgChapter{
    margin-top: 10px;
    margin-bottom: 10px;
}

.imgChapter img{
    width: 70%;
    display: block;
    margin: auto;
    border-radius: 10px;
}

.clickExcerpt{
    color: rgb(32, 65, 78);
    font-style: italic;
}

#noChapters{
    margin-left: 2.5%;
    font-size: 20px;
}

/*---Chapter View---*/

.sectionViewChapterLector{
    width: 100%;
}

.backListChaptersLector{
    color: black;
    padding: 5px;
    border-radius: .5rem;
    padding: 5px;
    background-color: #d5d5d5;
}

.next, .prev{
    color: black;
    border-radius: .5rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgba(147, 202, 224, 0.8);
    text-align: center;
    margin-bottom: 20px;
}

#changeTextSize{
    text-align: right;
}

#fontSizeForm select{
    background-color: #d5d5d5;
    margin-right: 2.5%;
    border-radius: .5rem;
}

.chapterView{
    margin:auto;
    background-color: white;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
    box-shadow: inset -5px -5px 15px #888;
    border-radius: 5px;
}

.chapterView div.nextPrevButtons{
    display: flex;
    justify-content: space-between;
}

#chapterText{
    display: flex;
    flex-direction: column; 
    text-align: justify;
}

.buttonsBackAndChgeText{
    margin-top: 20px;
    display: flex;
    justify-content: left;
}

.chapterView h3{
    font-family: 'Caveat', cursive;
    font-size: 2.5rem;
}

.chapterView h3 span{
    font-family: 'Caveat', cursive;
    font-size: 1.3rem;
}

/*Comments*/

#commentsForm{
    background-color: #F4F4F4;
    padding: 35px;
}

#commentsForm h2{
    font-family: 'Caveat', cursive;
    font-size: 2.5rem;
}

/*
#commentsForm textarea{
    width: 80%;
}
*/

.form{
    padding: 20px;
    border: 1px solid grey;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-group{
    margin-bottom: 0rem !important; 
}

#commentsList{
    width: 100%;
}

#commentsList p{
    margin-bottom: 10px;
}

.reportedComment{
    color: red;
    font-style: italic;
    text-align: right;
}

.reportedCommentOK{
    color: orange;
    font-style: italic;
    text-align: right;
}

.reportWaitComment{
    color: red;
    font-style: italic;
    text-align: right;
}

#noComments{
    font-size: 20px;
}

/*---ADMIN INTERFACE---*/

/*---CONNEXION PAGE---*/

h1#bigTitle.titleConnexion{
    text-align: left;
}

#bigTitle.titleConnexion a{
    font-size: 3rem;
}

#titleBookConnexion{
    font-family: 'Caveat';
    font-size: 2.5rem;
    color: #888 !important;
    font-style: italic;
    text-decoration: none;
    text-shadow: 2px 2px 4px white;
    width: 100%;
}

#contentConnexion{
    margin: auto;
    width: 80%;
    font-size: 20px;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 100px;
    margin-top: 100px;
    background-color: rgba(171, 171, 171, 0.9);
    box-shadow: inset -5px -5px 15px #888;
}

.connexionDiv p:nth-child(2){
    margin-bottom: 30px;
}

.connexionDiv button{
    font-size: 20px !important;
}

a#reconnexion{
    font-size: 20px;
    color: black;
    text-decoration: underline dotted;
}

/*---Homepage Admin---*/

.pageAdmin{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../../images/background/loupAdmin.jpg");
    background-size: cover;
}

/*Bouton de déconnexion*/

#deconnectAdmin{
    background-color: white;
    border-radius: .5rem;
    display: block;
    padding: 5px;
    text-align: center;
}

#deconnectAdmin a{
    color: black !important;
    font-size: 16px;
}

/*Titre Header*/

header.headerAdmin{
    background-color: rgba(147, 202, 224, 0.6);
    padding-left: 20px;
    padding-bottom: 20px;
}

h1#bigTitleAdmin{
    text-align: left;
    font-size: 4rem;
    text-decoration: none;
    text-shadow: 2px 2px 4px white;
}

h1#bigTitleAdmin a{
    font-family: 'Caveat', cursive;
    color: black !important;
}

/*Welcome message Admin*/

#welcomeMsgAdmin{
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 0px;
}

/*---Admin Template Structure---*/

.containerAdmin{
    width: 100%;
    display: flex;
}

.adminSection{
    width: 70%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 15px;
    padding: 15px;
    background-color: rgba(255,255,255,0.7);
}

.adminSection h2{
    font-family: 'Caveat';
    font-size: 3rem;
    color: rgb(115, 187, 216);
}

nav.menuAdmin{
    width: 25%;
    padding: 15px;
    font-size: 18px;
}

.menuAdmin ul{
    list-style: none;
}

.menuAdmin ul li{
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgba(255,255,255,0.9);
    border-radius: .5rem;
}

.menuAdmin ul li a{
    color: black;
}

.sectionAdmin{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}

.sectionAdmin h3{
    margin-top: 25px;
}

#statistiques li{
    margin-left: 20px;
    padding-left: 15px;
}

/*---Add a chapter---*/

.sectionAddChapter{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}

.sectionAddChapter button, .sectionEditChapter button, .sectionEditComment button, .sectionAddUser button, .sectionEditUser button{
    margin-top: 5px;
    font-size: 20px;
}

#photoWeigth{
    font-style: italic;
    font-size: 14px;
}

.msgConfirNewAndEdit{
    margin-top: 50px;
    margin-bottom: 50px;
}

.msgPublishOrEditNew{
    margin-top: 50px;
    border-radius: .25rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(147, 202, 224, 0.8);
    text-align: center;
    color: black;
}

/*---List chapters---*/

h2.listChapTitle{
    padding-left: 50px;
}

#changeOrdenChaptersAdmin{
    margin-bottom: 25px;
    margin-left: 50px;
}

.sectionListChapters{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.extraitChapAdmin{
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 20px;
    background-color: rgba(194, 194, 194, 0.6);
    border-radius: .5rem;
    padding: 15px;
}

.extraitChapAdmin h3 a{
    font-family: 'Caveat';
    font-size: 2.5rem;
    color: rgb(115, 187, 216);
}

.extraitChapAdmin h4{
    font-family: 'Caveat';
    font-size: 1.5rem;
}

.imgChapterAdmin{
    margin-top: 10px;
    margin-bottom: 10px;
}

.imgChapterAdmin img{
    width: 50%;
    display: block;
    margin: auto;
    border-radius: 10px;
}

#msgConfirmDelChapterOK{
    margin-left: 50px;
    margin-right: 50px;
}

/*---View Chapter---*/

.sectionViewChapter{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    text-align: justify;
}

.sectionViewChapter a{
    color: black;
    text-decoration: none;
}

.backListChapters{
    border-radius: .5rem;
    padding: 5px;
    border: 3px solid rgba(147, 202, 224, 0.8);
    background-color: white;
    text-align: center;
}

.editChapter, .deleteChapter{
    border-radius: .5rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(147, 202, 224, 0.8);
}

.chapter h3, .sectionViewChapter h3{
    color: #ba8f51;
    font-family: 'Caveat';
    font-size: 3rem;
}

/*View comments in chapter*/

.commentsListAdmin{
    font-size: 16px;
}

/*---Edit Chapter---*/

.sectionEditChapter{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}

.sectionEditChapter.backChaptersButton{
    text-align: left;
    height: 45px;
    padding: 5px;
}

.sectionEditChapter .backChaptersButton a{
    color: black;
}

#editTitle{
    display: flex;
    justify-content: space-between;
}

.sectionEditChapter form{
    margin-top: 20px;
}

/*---Moderate comments---*/

.sectionModerComments{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}

.commentAdmin{
    border: 1px solid gray;
    margin-bottom: 20px;
    padding: 5px;
}

#msgEditCommentOk{
    margin-bottom: 50px;
}

/*---Edit comments---*/

.sectionEditComment{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}

.formEditComment{
    padding: 20px;
}

.formEditComment input{
    padding: 5px;
}

.formEditComment textarea{
    vertical-align: top;
    padding: 5px;
    width: 80%;
}

.formEditComment button{
    padding: 5px;
    border-radius: 5px;
}

/*---Add user---*/

.sectionAddUser{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}

.sectionAddUser p{
    padding: 50px;
}

.formAddUser input{
    padding: 5px;
}

/*---View users---*/

.sectionViewUsers{
    padding-left: 50px;
}

#table_list_users_wrapper{
    margin-top: 40px;
}

/*---Edit Users---*/

.sectionEditUser{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}

.formEditUser button{
    border-radius: 5px;
    padding: 5px;
}

.formEditUser input{
    padding: 5px;
}


/*---MEDIA QUERIES---*/

@media (max-width: 768px) {
    
    .sectionAddChapter button, .sectionEditChapter button, .sectionEditComment button, .sectionAddUser button, .sectionEditUser button{
        margin-top: 5px;
        font-size: 18px;
    }

    /*---LECTOR INTERFACE---*/
    footer.homepage{
        font-size: 14px;
    }
    #bigTitle a{
        font-size: 5rem;
    }
    #introWelcome{ 
        margin-top: 30px;
        margin-bottom: 50px;
    }
    #buttonWelcome{
        margin-top: 50px;
        font-size: 1.5rem;
        width: 35%;
    }
    #bigTitleFrontend a{
        font-size: 3.5rem;
    }
    #introWelcomeFrontend{
        font-size: 20px;
    }
    #changeOrdenChaptersForm select{
        font-size: 14px;
    }
    .panelChapter{
        width: 46%;
    }
    
    /*---CONNEXION PAGE---*/
    #bigTitle.titleConnexion a{
        font-size: 2.5rem;
    }
    #titleBookConnexion{
        font-size: 2rem;
    }
    #contentConnexion{
        font-size: 18px;
    }

    /*---ADMIN INTERFACE---*/
    h1#bigTitleAdmin{
        font-size: 3rem;
    }
    #welcomeMsgAdmin{
        font-size: 18px;
    }
    .containerAdmin{
        flex-direction: column;
    }
    .adminSection{
        width: 95%;
    }
    .adminSection h2{
        font-size: 2.5rem;
    }
    nav.menuAdmin{
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        display: flex;
        padding: 5px;
    }
    .menuAdmin ul{
        display: flex;
        flex-wrap: wrap;
    }
    .menuAdmin ul li{
        font-size: 16px;
        padding: 5px;
        margin-bottom: 5px;
    }
    .sectionAdmin{
        padding-left: 5px;
        font-size: 18px;
    }

    /*---Add a chapter---*/
    .sectionAddChapter{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 18px;
    }
    .msgConfirNewAndEdit{
        margin-top: 0px;
        margin-bottom: 35px;
    }

    /*---List chapters---*/
    h2.listChapTitle{
        padding-left: 5px;
    }
    #changeOrdenChaptersAdmin{
        margin-left: 5px;
    }
    .sectionListChapters{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 16px;
    }
    .extraitChapAdmin h3 a{
        font-size: 2.5rem;
    }
    .extraitChapAdmin h4{
        font-size: 1.7rem;
    }

    /*---View chapter---*/
    .sectionViewChapter{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 18px;
    }
    .commentsListAdmin{
        font-size: 15px;
    }

    /*---Edit comments---*/
    .sectionEditChapter{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 18px;
    }
    .sectionEditChapter .backChaptersButton{
        text-align: end;
    }

    /*---Moderate comments---*/
    .sectionModerComments{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 18px;
    }
    /*---Edit comments---*/
    .sectionEditComment{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 18px;
    }
    .formEditComment{
        padding: 10px;
    }

    /*---Add user---*/
    .sectionAddUser{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 18px;
    }
    .sectionAddUser p{
        padding: 5px;
    }

    /*---View users---*/
    .sectionViewUsers{
        padding-left: 5px;
        padding-right: 5px;
    }

    /*---Edit Users---*/
    .sectionEditUser{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    
    .sectionAddChapter button, .sectionEditChapter button, .sectionEditComment button, .sectionAddUser button, .sectionEditUser button{
        margin-top: 5px;
        font-size: 16px;
    }

    /*---LECTOR INTERFACE---*/
    .sectionHomepage{
        padding-top: 50px;
    }
    #buttonWelcome{
        font-size: 1.4rem;
        width: 50%;
        padding: 10px;
        margin-top: 10px;
    }
    #bigTitle a{
        font-size: 4rem;
    }
    #bigTitleFrontend a{
        font-size: 3rem;
    }
    #introWelcomeFrontend{
        font-size: 16px;
    }
    .panelChapter{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    #noChapters{
        font-size: 17px;
    }
    #changeTextSize{
        margin-top: 10px;
        text-align: left;
    }
    .next, .prev{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        padding-left: 10px;
    }

    /*---CONNEXION PAGE---*/
    #bigTitle.titleConnexion a{
        font-size: 2rem;
    }
    #titleBookConnexion{
        font-size: 1.5rem;
    }
    #contentConnexion{
        font-size: 16px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .connexionDiv p:nth-child(2){
        margin-bottom: 20px;
    }

    /*---ADMIN INTERFACE---*/
    h1#bigTitleAdmin{
        font-size: 2.5rem;
    }
    #welcomeMsgAdmin{
        font-size: 16px;
    }
    .adminSection h1{
        font-size: 2rem;
    }
    nav.menuAdmin{
        display: flex;
    }
    .menuAdmin ul li{
        font-size: 14px;
    }
    .sectionAdmin{
        font-size: 14px;
    }
    .sectionAdmin h3{
        font-size: 1.3rem;
    }

    /*---Add a chapter---*/
    .sectionAddChapter{
        font-size: 16px;
    }
    .extraitChapAdmin{
        width: 95%;
    }
    .extraitChapAdmin h3 a{
        font-size: 2rem;
    }
    .extraitChapAdmin h4{
        font-size: 1.5rem;
    }
    .msgConfirNewAndEdit{
        margin-top: 0px;
        margin-bottom: 20px;
    }

    /*---View a chapter---*/
    .sectionViewChapter{
        font-size: 16px;
    }

    /*---Edit comments---*/
    .sectionEditChapter{
        font-size: 16px;
    }
    .sectionEditChapter .backChaptersButton{
        text-align: start;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /*---Moderate comments---*/
    .sectionModerComments{
        font-size: 16px;
    }
    #msgEditCommentOk{
        margin-bottom: 20px;
    }

    /*---Edit comments---*/
    .sectionEditComment{
        font-size: 16px;
    }
    .formEditComment{
        padding: 5px;
    }

    /*---Add user---*/
    .sectionAddUser{
        font-size: 16px;
    }

    /*---View users---*/
    .sectionViewUsers{
        font-size: 16px;
    }

    /*---Edit Users---*/
    .sectionEditUser{
        font-size: 16px;
    }
}