/*FRONTEND LIGNE 5 */
/*BACKEND LIGNE 201 */


/*-----GENERAL STYLES-----*/

*{
    padding: 0;
    margin: 0;
    font-family: 'dosis';
}

.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
    padding-top: 20px;
}

/*---FRONTEND---*/

/*---Header---*/

header{
    width: 100%;
    background-image: url("../../images/Calque\ 4.png");
    background-size: cover;
    box-shadow: 0px 10px 8px #888888;
}

#accessAdmin{
    background-color: #ba8f51;
    border-radius: 15px;
    color: white !important;
    right: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    position: absolute;
    text-align: center;
    text-decoration: none;
}

h1#bigTitle{
    text-align: center;
}

#bigTitle a {
    /*font-family: 'Parisienne', cursive;
    font-family: 'Nothing You Could Do', cursive;
    font-family: 'Bad Script', cursive;
    font-family: 'Marck Script', cursive;
    font-family: 'Tangerine', cursive;*/
    font-family: 'Caveat', cursive;
    font-size: 5rem;
    color: white !important;
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
    width: 100%;
    /*font-family: 'Charm', cursive;*/
}

/*---Footer---*/

footer{
    margin-top: 25px;
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
}

/*---Homepage---*/

#introWelcome{
    padding-left: 2%;
    font-family: 'dosis';
    font-size: 20px;
}

#viewChapters{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.extraitChap{
    width: 45%;
    border: 1px solid black;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 20px;
}

h3 a{
    font-family: 'Caveat', cursive;
    color: #a76529;
    font-size: 2rem;
}

h4{
    font-family: 'Caveat', cursive;
    font-size: 1.3rem;
}

.imgChapter{
    margin-top: 10px;
}

.imgChapter img{
    width: 70%;
    display: block;
    margin: auto;
}

.extractChapter{
    text-align: justify;
    padding: 5px;
}

.clickExcerpt{
    color: #a76529;
    font-style: italic;
}

a:hover{
    color: #8c4609;
    text-decoration: none;
}

/*---Chapter View---*/

.sectionViewChapterLector{
    width: 100%;
}

.backListChaptersLector{
    color: black;
    padding: 5px;
    border-radius: 15px;
    padding: 5px;
    background-color: #cff6bf;
}

.next, .prev{
    color: black;
    border-radius: 15px;
    padding: 5px;
    background-color: #c991b4;
    text-align: center;
}

.chapterView{
    width: 70%;
    margin:auto;
    text-align: justify;
}

.chapterView h3{
    font-family: 'Caveat', cursive;
    font-size: 2rem;
}

/*---Comments---*/

#commentsForm{
    width: 60%;
    margin:auto;
}

.form{
    padding: 20px;
    border: 1px solid grey;
    margin-bottom: 20px;
    margin-top: 20px;
}

#commentsList{
    width: 60%;
    margin:auto;
    line-height: 16px;
}

.comment{
    border: 1px solid gray;
    margin-bottom: 20px;
    padding: 5px;
}

.reportedComment{
    color: red;
    font-style: italic;
    text-align: right;
}

.reportedCommentOK{
    color: orange;
    font-style: italic;
    text-align: right;
}

.reportWaitComment{
    color: red;
    font-style: italic;
    text-align: right;
}

/*---BACKEND---*/

/*---CONNEXION PAGE---*/

h1#bigTitle.titleConnexion{
    text-align: left;
}

#bigTitle.titleConnexion a {
    /*font-family: 'Parisienne', cursive;
    font-family: 'Nothing You Could Do', cursive;
    font-family: 'Bad Script', cursive;
    font-family: 'Marck Script', cursive;
    font-family: 'Tangerine', cursive;*/
    font-size: 3rem;
    /*font-family: 'Charm', cursive;*/
}

#titleBook{
    font-family: 'Caveat';
    font-size: 2rem;
}

#contentConnexion{
    margin: auto;
    width: 70%;
    font-size: 20px;
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 100px;
    margin-top: 100px;
}

/*---HOMEPAGE ADMIN---*/

/*---Bouton de déconnexion---*/

#deconnectAdmin{
    border: 1px solid #ba8f51;
    background-color: #ba8f51;
    padding: 5px;
    border-radius: 15px;
    position: absolute;
    right: 10px;
}

#deconnectAdmin a{
    width: 100%;
    color: white !important;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

/*---Titre Header---*/

h1#bigTitle.titleAdmin{
    text-align: left;
}

#bigTitle.titleAdmin a {
    /*font-family: 'Parisienne', cursive;
    font-family: 'Nothing You Could Do', cursive;
    font-family: 'Bad Script', cursive;
    font-family: 'Marck Script', cursive;
    font-family: 'Tangerine', cursive;*/
    font-size: 60px;
    /*font-family: 'Charm', cursive;*/
}

#titleBook{
    font-family: 'Caveat', cursive;
    font-size: 40px;
    font-style: italic;
    color: white !important;
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
    width: 100%;
}

/*---Welcome message Admin---*/

#welcomeMsgAdmin{
    color: white;
    font-size: 20px;
}

/*---Admin Template Structure---*/

.containerAdmin{
    width: 100%;
    display: flex;
}

.adminSection{
    width: 75%;
}

nav.menuAdmin{
    width: 25%;
    padding: 15px;
    font-size: 18px;
}

.menuAdmin ul{
    list-style: none;
}

.menuAdmin ul li{
    padding: 15px;
    margin-bottom: 10px;
    background-color: #6478b5;
    border-radius: 15px;
}

.menuAdmin ul li a{
    color: white;
}

.sectionAdmin{
    padding-left: 50px;
    font-size: 20px;
}

/*---Add a chapter---*/

.sectionAddChapter{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}

/*---List chapters---*/

h1.listChapTitle{
    padding-left: 50px;
}

.sectionListChapters{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.extraitChapAdmin{
    width: 45%;
    border: 1px solid black;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 20px;
}

/*---View Chapter---*/

.sectionViewChapter{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    text-align: justify;
}

.sectionViewChapter a{
    color: black;
    text-decoration: none;
}

.backListChapters{
    border-radius: 15px;
    padding: 5px;
    background-color: #cff6bf;
}

.editChapter, .deleteChapter{
    border-radius: 15px;
    padding: 5px;
    background-color: #cc9eb8;
}

.chapter h3, .sectionViewChapter h3{
    color: #ba8f51;
}

/*---Edit Chapter---*/

.sectionEditChapter{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}

#editTitle{
    display: flex;
    justify-content: space-between;
}

.editChapter{
    height: 40px;
    padding: 5px;
    color: white;
}

/*---Moderate comments---*/

.sectionModerComments{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}

.commentAdmin{
    border: 1px solid gray;
    margin-bottom: 20px;
    padding: 5px;
}

/*---Edit comments---*/

.sectionEditComment{
    padding-left: 50px;
    font-size: 20px;
}

.formEditComment{
    border: 1px solid black;
    padding: 20px;
}

/*---Add user---*/

.sectionAddUser{
    padding-left: 50px;
    font-size: 20px;
}

/*---View users---*/

.sectionViewUsers{
    padding-left: 50px;
}

.user{
    margin-bottom: 10px;
}

.user h3{
    font-size: 20px;
}

/*---MEDIA QUERIES---*/

@media (max-width: 768px) {
    #bigTitle a {
        font-size: 3rem;
    }
}